In [57]:
import pandas as pd

In [76]:
df=pd.read_csv("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\otto_train.csv")
df

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,61874,1,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,2,0,Class_9
61874,61875,4,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,Class_9
61875,61876,0,0,0,0,0,0,0,3,1,...,0,3,1,0,0,0,0,0,0,Class_9
61876,61877,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,Class_9
61877,61878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,Class_9

In [82]:
df=df.replace({'Class_1':1,'Class_2':2,'Class_3':3,'Class_4':4,'Class_5':5,'Class_6':6,'Class_7':7,'Class_8':8,'Class_9':9 })
df

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61873,61874,1,0,0,1,1,0,0,0,0,...,1,0,0,0,0,0,0,2,0,9
61874,61875,4,0,0,0,0,0,0,0,0,...,0,2,0,0,2,0,0,1,0,9
61875,61876,0,0,0,0,0,0,0,3,1,...,0,3,1,0,0,0,0,0,0,9
61876,61877,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3,10,0,9
61877,61878,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,9

In [83]:
df.to_csv("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\otto_dummies.csv")
import gzip

# Open output file.
with open("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\otto_dummies.csv", "rb") as file_in:
    # Write output.
    with gzip.open("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\otto_dummies.csv.gz", "wb") as file_out:        
        file_out.writelines(file_in)

In [30]:
df['Sex']=pd.get_dummies(df['Sex'])

In [31]:
name=pd.get_dummies(df['Name'])
ticket=pd.get_dummies(df['Ticket'])
cabin=pd.get_dummies(df['Cabin'])
embarked=pd.get_dummies(df['Embarked'])

In [32]:
df=df.drop(['Name','Ticket','Cabin','Embarked'],axis=1)

In [33]:
df=pd.merge(df,name,how='outer',left_index=True,right_index=True)
df=pd.merge(df,ticket,how='outer',left_index=True,right_index=True)
df=pd.merge(df,cabin,how='outer',left_index=True,right_index=True)
df=pd.merge(df,embarked,how='outer',left_index=True,right_index=True)

In [53]:
df=df.dropna()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
              ..
G6             0
T              0
C              0
Q              0
S              0
Length: 1730, dtype: int64

In [56]:
df

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,"Abbing, Mr. Anthony","Abbott, Mr. Rossmore Edward",...,F G73,F2,F33,F38,F4,G6,T,C,Q,S
0,1,0,3,0,22.0,1,0,7.2500,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,1,1,1,38.0,1,0,71.2833,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,1,3,1,26.0,0,0,7.9250,0,0,...,0,0,0,0,0,0,0,0,0,1
3,4,1,1,1,35.0,1,0,53.1000,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,0,3,0,35.0,0,0,8.0500,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,1,39.0,0,5,29.1250,0,0,...,0,0,0,0,0,0,0,0,1,0
886,887,0,2,0,27.0,0,0,13.0000,0,0,...,0,0,0,0,0,0,0,0,0,1
887,888,1,1,1,19.0,0,0,30.0000,0,0,...,0,0,0,0,0,0,0,0,0,1
889,890,1,1,0,26.0,0,0,30.0000,0,0,...,0,0,0,0,0,0,0,1,0,0
890,891,0,3,0,32.0,0,0,7.7500,0,0,...,0,0,0,0,0,0,0,0,1,0

In [54]:
df.to_csv("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\titanic_dummies.csv")

In [55]:
import gzip

# Open output file.
with open("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\titanic_dummies.csv", "rb") as file_in:
    # Write output.
    with gzip.open("C:\\Users\\Hanyuri\\Documents\\문서\\딥러닝\\titanic_dummies.csv.gz", "wb") as file_out:        
        file_out.writelines(file_in)